# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 58190bd161c9c573ce5a3641db57c63b572169b1091f5277c203e883e64edb9e0ece035b645876354c402e2c9eb13430dc3af313e7d3c0683fb6baf429abee3f

test:
  secret_key_base: dcfcc3a175cb4d3f7de0d1fbc57178d1bb90e9d8c1c4ddf34e316d6c8b6cdc1e5712d0d8db018fb9dcaad3a9737b89f719e2076e2fb669f79fb571e85e47f40e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
